# Ignore everything by default
*

# But read directories in the case of future changes
# !*/
# Nevermind. It's staging duplicate files from elpa folder.

# Only stage
!init.el
!config.org
!.gitignore
!README.md
!LICENSE